<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Elevate Quiz</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body style="background-image: radial-gradient(#81D8D0,white); font-family:serif; text-align: center">
	<h1 style="margin: 90px; font-size:40px">Hello <%= session[:player_name] %>. You have selected <%= session[:category] %></h1>
	<form class = "container-sm" style = "text-align: center"action="/result" method="post">
		<p style="font-size:20px"> <%= session[:questions][session[:results].length] %> <p>
		  <input class = "form-check-input" type="radio" name="choice" value="<%= session[:options][session[:results].length][0] %>"> <%= session[:options][session[:results].length][0] %><br>
		  <input class = "form-check-input" type="radio" name="choice" value="<%= session[:options][session[:results].length][1] %>"> <%= session[:options][session[:results].length][1] %><br>
		  <input class = "form-check-input" type="radio" name="choice" value="<%= session[:options][session[:results].length][2] %>"> <%= session[:options][session[:results].length][2] %><br>
		  <input class = "form-check-input" type="radio" name="choice" value="<%= session[:options][session[:results].length][3] %>"> <%= session[:options][session[:results].length][3] %><br><br>
	  <input class="btn btn-primary" type="submit">
	</form>
</body>
</html>